html, body {
    height: 100%;
}
body {
    margin: 0;
}

#app {
    display: grid;
    grid-template-columns: 640px auto;
    grid-template-rows: 360px auto;
    grid-gap: 1em;
    height: 100%;
    width: 100%;
}

.videoPlayer {
    grid-column: 1;
    grid-row: 1;
}

.editorPane {
    grid-column: 2;
    grid-row: 1/3;
    background: #eee;
}

.terminalPane {
    grid-column: 1;
    grid-row: 2;
    background: #eee;
}
